In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder \
    .appName("TaxiDemandAnalysis_FullLoad") \
    .config("spark.sql.shuffle.partitions", "200") \
    .getOrCreate()

base_path = "/content/drive/MyDrive/Mining of massive dataset/data"

years = [str(year) for year in range(2011, 2025)]
paths = [os.path.join(base_path, year) for year in years]

df = spark.read.parquet(*paths)

In [22]:
print("Schema")
df.printSchema()

print("Total Rows")
print(df.count())

Schema
root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

Total Rows
1430968193

In [25]:
df = df.select(
    "tpep_pickup_datetime",
    "PULocationID",
    "DOLocationID",
    "trip_distance",
    "passenger_count",
    "fare_amount"
)

In [27]:
from pyspark.sql.functions import col, count, when, isnan
df.repartition(40)

DataFrame[tpep_pickup_datetime: timestamp_ntz, PULocationID: bigint, DOLocationID: bigint, trip_distance: double, passenger_count: bigint, fare_amount: double]