In [1]:
import pandas as pd
df = pd.read_parquet(r'D:\StudyStuff\Mining Massive Dataset\mining_of_massive_dataset\data\2009\yellow_tripdata_2009-01.parquet', engine='pyarrow')
print(df.head())

  vendor_name Trip_Pickup_DateTime Trip_Dropoff_DateTime  Passenger_Count  \
0         VTS  2009-01-04 02:52:00   2009-01-04 03:02:00                1
1         VTS  2009-01-04 03:31:00   2009-01-04 03:38:00                3
2         VTS  2009-01-03 15:43:00   2009-01-03 15:57:00                5
3         DDS  2009-01-01 20:52:58   2009-01-01 21:14:00                1
4         DDS  2009-01-24 16:18:23   2009-01-24 16:24:56                1

   Trip_Distance  Start_Lon  Start_Lat  Rate_Code  store_and_forward  \
0           2.63 -73.991957  40.721567        NaN                NaN
1           4.55 -73.982102  40.736290        NaN                NaN
2          10.35 -74.002587  40.739748        NaN                NaN
3           5.00 -73.974267  40.790955        NaN                NaN
4           0.40 -74.001580  40.719382        NaN                NaN

     End_Lon    End_Lat Payment_Type  Fare_Amt  surcharge  mta_tax  Tip_Amt  \
0 -73.993803  40.695922         CASH       8.9        0.5      NaN     0.00
1 -73.955850  40.768030       Credit      12.1        0.5      NaN     2.00
2 -73.869983  40.770225       Credit      23.7        0.0      NaN     4.74
3 -73.996558  40.731849       CREDIT      14.9        0.5      NaN     3.05
4 -74.008378  40.720350         CASH       3.7        0.0      NaN     0.00

   Tolls_Amt  Total_Amt
0        0.0       9.40
1        0.0      14.60
2        0.0      28.44
3        0.0      18.45
4        0.0       3.70

In [4]:
import pandas as pd
df = pd.read_parquet(r'D:\StudyStuff\Mining Massive Dataset\mining_of_massive_dataset\data\2011\yellow_tripdata_2011-01.parquet', engine='pyarrow')
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2011-01-01 00:10:00   2011-01-01 00:12:00                4
1         2  2011-01-01 00:04:00   2011-01-01 00:13:00                4
2         2  2011-01-01 00:14:00   2011-01-01 00:16:00                4
3         2  2011-01-01 00:04:00   2011-01-01 00:06:00                5
4         2  2011-01-01 00:08:00   2011-01-01 00:08:00                5

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            0.0           1               None           145           145
1            0.0           1               None           264           264
2            0.0           1               None           264           264
3            0.0           1               None           146           146
4            0.0           1               None           146           146

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1          2.9    0.5      0.5        0.28           0.0
1             1          5.7    0.5      0.5        0.24           0.0
2             1          2.9    0.5      0.5        1.11           0.0
3             1          2.9    0.5      0.5        0.00           0.0
4             1          2.5    0.5      0.5        0.11           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    0.0          4.18                   NaN          NaN
1                    0.0          6.94                   NaN          NaN
2                    0.0          5.01                   NaN          NaN
3                    0.0          3.90                   NaN          NaN
4                    0.0          3.61                   NaN          NaN

In [7]:
import pandas as pd
df = pd.read_parquet(r'D:\StudyStuff\Mining Massive Dataset\mining_of_massive_dataset\data\2024\yellow_tripdata_2024-01.parquet', engine='pyarrow')
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-01-01 00:57:55   2024-01-01 01:17:43              1.0
1         1  2024-01-01 00:03:00   2024-01-01 00:09:36              1.0
2         1  2024-01-01 00:17:06   2024-01-01 00:35:01              1.0
3         1  2024-01-01 00:36:38   2024-01-01 00:44:56              1.0
4         1  2024-01-01 00:46:51   2024-01-01 00:52:57              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.72         1.0                  N           186            79
1           1.80         1.0                  N           140           236
2           4.70         1.0                  N           236            79
3           1.40         1.0                  N            79           211
4           0.80         1.0                  N           211           148

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2         17.7    1.0      0.5        0.00           0.0
1             1         10.0    3.5      0.5        3.75           0.0
2             1         23.3    3.5      0.5        3.00           0.0
3             1         10.0    3.5      0.5        2.00           0.0
4             1          7.9    3.5      0.5        3.20           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         22.70                   2.5          0.0
1                    1.0         18.75                   2.5          0.0
2                    1.0         31.30                   2.5          0.0
3                    1.0         17.00                   2.5          0.0
4                    1.0         16.10                   2.5          0.0